body {
 margin: 0px;
}

/* Menu element */
#menu {
 float:left;
 width:10%;
 background:green;
 height: 100%;
}

#menu ul {
 list-style-type: none;
 margin-top: 0px;
 padding-left: 0px;
}
#menu li {
 text-align: right;
 padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
}

#menu li:hover {
 background-color: cyan;
}


#menu-overview {
 display: none;
}
/* Display element */
#display {
  float:right;
  width:90%;
  height: 100%;
}
/* Plotters */
#plotter-1 {
 margin: 0px;
 padding: 0px;
}
/* Main/login display */
#display-main {
 text-align: center;
 margin-top: 10%;
}
#display-main-plotter {
 margin: 0px;
 padding: 0px;
}
/* Overview display */
#display-overview {
 margin-top: 10px;
 display: none;
}

#display-overview-top-left {
 float:left;
 width:50%;
 height:50%;
 background-color:lime;
}
#display-overview-top-right {
 float:right;
 width:50%;
 height:50%;
 background-color:red;
}

#display-overview-bottom {
 
}

#display-main span {
 
 background:lime;
}